@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 50px;
    text-transform: capitalize;
}
span{
    color: orange;
}
h3{
    text-transform: capitalize;
}
p{
    margin-bottom: 15px;
}
.header{
    display: flex;
    background: url(img/top-banner.png);
    background-repeat: no-repeat;

}
div{
    width: 50%;
    padding-left: 5%;
}
div img{
    width: 80%;
}
.link-btn{
    text-decoration: none;
    background: linear-gradient(45deg, lightsalmon, tomato);
    padding: 10px 40px;
    border-radius: 5px;
    color: #fff;
    font-weight: 700;
    text-transform: capitalize;
}
.dream{
    background: url(img/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    display: flex;
    margin-top: 100px;
}
.experience{
    margin-top: 100px;
    background: url(img/exp-bg.png);
    background-repeat: no-repeat;
    background-position: 0 210px;
}
.flex-con{
    display: flex;
    width: 100%;
    margin: 0;
    padding: 0;
}
.box{
    width: 40%;
    padding-left: 2%;
    margin-left: 5%;
    float: left;
    box-shadow: 5px 7px 40px grey;
    height: 80%;
    margin-bottom: 40px;
}
.box h1{
    margin-top: 10px;
}
.box p{
    margin-bottom: 20px;
}
.box h3{
    color: orange;
    margin-top: 20px;
    margin-bottom: 25px;
}
.b1{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, lightsalmon, tomato);
    border-image-slice: 1;
}
.b2{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, blue, cyan);
    border-image-slice: 1;
}
.exp-title{
    margin-bottom: 100px;
    margin-left: 10px;
}
footer{
    margin-top: 40px;
}
footer p{
    text-align: center;
}